@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


:root {
    --cor-primaria: #0b0606;
    --cor-secundaria: #540006;
    --coraviso: #e09405;
    --cor-botao: white;
    --cor-informacao: #7f9ab6;
    --cor-digite: #424244;
    --cor-texto: #99a0a6;
    --cor-link: rgb(1, 85, 153);
    --cor-icone: #028378;
    --cor-seta:rgb(116, 35, 20);
}

body {
    height: 100vh;
     background-image: url('img.png/colage-fla.png'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  margin: 0;
  padding: 0;
  height: 100vh; 
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho img {
    padding-top: 1%;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    top: 30px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
}

.container_input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container_input .input {
    width: 400px;
    height: 330px;
}

#conteudo__texto {
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--cor-digite);
    background: var(--cor-primaria);
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;
}

#logo {
     display: flex;
     flex-direction: column;
     border: 4px solid var(--cor-informacao);
     border-radius: 25px;
     background-color: var(--cor-secundaria);
     width: 350px;
     height: 440px;
     margin-right: 4%;
}

#logo h1 {
    text-align: center;
    font-size: 27px;
    color: var(--cor-informacao);
    margin-top: 2%;
}

#logo span {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    color: var(--cor-informacao);
    margin-top: 2%;
}

#logo img {
max-width: 300px;
max-height: 300px;
width: auto;
height: auto;
margin-top: 6%;
}


.container_bot button {
    border: 2px solid var(--cor-digite);
    border-radius: 10px;
    text-decoration: none;
    background-color: #540006;
    color: var(--cor-botao);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.container_bot button:hover {
    background-color: var(--cor-seta);
}

.btn_copiar {
border: 2px solid var(--cor-digite);
border-radius: 10px;
text-decoration: none;
color: var(--cor-botao);
background-color: var(--cor-seta);
width: 150px;
height: 50px;
margin-bottom: 10%;
margin-left: 30%;
cursor: pointer;
}

.btn_copiar:hover{
    background-color: #3f1505;
}

.aviso {
    width: 226px;
    height: 16px;
    gap: 0px;
    opacity: 0.8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--coraviso);
}

.aviso img {
    width: 10px;
    height: 10px;
    border-radius: 10%;
gap: 0px;
opacity: 0px;
left: 30px
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background: var(--cor-secundaria);
    color: var(--cor-botao);
    }

.rodape h2{
     font-size: 14px;
     color: var(--coraviso);
}

.icons__link ion-icon {
     width: 25px;
     height: 25px;
     color: var(--cor-icone);
}
    
.icons__link ion-icon:hover{
     color: var(--cor-link);
}
